@import '../../../styles/settings.scss';

.adminLoginContainer {
    max-width: 400px;
    margin: $admin-login-page-container-margin;
    padding: $margin-padding;
    background: $color-primary;
    border-radius: $radius*2;
    text-align: center;
    color: $color-text-bright;
    position: relative;
}

.adminLoginForm {
    margin-top: $margin-padding;
    .formInput{
        margin-block: $margin-padding/2;
    }
}

.button {
    width: 100%;
    margin-top: $admin-login-page-btn-margin;
}

@media (max-width: 1025px) {
    .adminLoginContainer {
        max-width: 500px;
        h2{
            font-size: $base-size*3;
        }
        label{
            font-size: $base-size*2;
        }
    }
}