@import '../../../styles/settings.scss';
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
img {
    max-width: $product-carousel-img-max-width;
    max-height: $product-carousel-img-max-height;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}