@import '../../../styles/settings.scss';

.successContainer{
    color: $color-text-bright;
    margin-top: $succes-container-margin;
    z-index: 10;
    .strongOrderId{
        font-weight: bolder;
        user-select: text; 
    }
    .button{
        display: block;
        text-align: center;
        margin-top: $margin-padding*1.5;
        padding: $margin-padding/2;
        background: $main-btns-color;
        color: $color-text-bright;
        border-radius: $radius;
        text-decoration: none;
        font-size: $base-size + 6px;
        font-weight: bold;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        transition: $transition-cart-dropdown;
        border: none;
    }
    .button:hover {
        background: $navbar-btn-hover;
    }
}