@import '../../../styles/settings.scss';

.addProductContainer {
    color: white;
    text-align: center;
    padding: 20px;
}

.success {
    color: lime;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}

.form {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.variantBox {
    background: #333;
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
}

label {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: rgb(73, 73, 73);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addButton:hover {
    background: green;
}

.addButton {
    background: rgb(73, 73, 73);
}

.removeButton {
    background: red;
    margin-top: 5px;
}

.backButton{
    text-align: center;
    margin-top: $margin-padding*1.5;
    padding: $margin-padding/2;
    background: gray;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    transition: $transition-cart-dropdown;
    border: none;
    margin-right: auto;
    position: absolute;
    left: 30%;
    top: 20%;
}