@import '../../../styles/settings.scss';

.addProductContainer {
    color: $color-text-bright;
    padding: $margin-padding;
    max-width: 600px;
    margin: $admin-add-product-page-container-margin;
    text-align: center;
    background: $color-primary;
    padding: $margin-padding*1.5;
    border-radius: $radius*2;
    position: relative;
}

.success {
    color: $color-success;
    font-weight: bold;
}

.error {
    color: $color-error;
    font-weight: bold;
}

.form {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.variantBox {
    background: $color-admin-variant-box;
    display: flex;
    flex-direction: column;
    padding: $admin-variant-box-padding;
    border-radius: $admin-variant-box-radius;
    margin-top: $margin-padding/2;
}

label {
    margin-top: $margin-padding/2;
    font-size: $base-size + 2px;
    font-weight: bold;
}

input, textarea {
    padding: $margin-padding/2;
    margin-top: $margin-padding/4;
    border-radius: $radius;
    border: 1px solid $color-input;
}

button {
    margin-top: $admin-add-product-button-margin;
    padding: $margin-padding/2;
    background: $color-admin-add-product-btn;
    color: $color-text-bright;
    font-weight: bold;
    border: none;
    border-radius: $radius;
    cursor: pointer;
}

.removeButton {
    background: $color-red;
    margin-top: $margin-padding/4;
}
.removeButton:hover {
    background: $admin-remove-btn-hover;
}

.addButton:hover {
    background: $color-admin-add-product-btn-hover;
}

.addButton {
    background: $color-admin-add-product-btn;
}

@media (max-width: 1025px) {
    label {
        font-size: $base-size *2;
    }
    .addProductContainer h1{
        font-size: $base-size*3.5;
    }
    .addProductContainer h2{
        margin-block: $margin-padding/2;
        font-size: $base-size*3;
    }
}