@import '../../../styles/settings.scss';

.footer {
    display: flex;
    justify-content: space-between;
    background-color: $color-primary;
    padding: $margin-padding/2;
    h1 {
        font-size: $base-size;
        color: $color-text-bright;
    }
    a {
        font-size: $base-size * 1.5;
        color: $color-text-bright;
        text-decoration: none;
    }
    .button{
        text-align: center;
        margin: $margin-padding;
        padding: $margin-padding/2;
        background: $main-btns-color;
        color: $color-text-bright;
        border-radius: $radius;
        text-decoration: none;
        font-size: $base-size - 4px;
        font-weight: bold;
        width: fit-content;
        transition: $transition-cart-dropdown;
        border: none;
    }
    .button:hover {
        background: $color-primary;
    }
    .buttonAdmin{
        text-align: center;
        margin: $margin-padding;
        padding: $margin-padding/2;
        background: $admin-btn;
        color: $color-text-bright;
        border-radius: $radius;
        text-decoration: none;
        font-size: $base-size - 4px;
        font-weight: bold;
        width: fit-content;
        transition: $transition-cart-dropdown;
        border: none;
    }
    .buttonAdmin:hover {
        background: $admin-btn-hover; 
    }
}