@import '../../../styles/settings.scss';

.cartDropdown {
    position: absolute;
    top: 75px;
    right: 20px;
    background: $color-primary;
    color: $color-text-bright;
    border-radius: $cart-dropdown-radius;
    padding: $cart-dropdown-padding;
    width: $cart-dropdown-width;
    box-shadow: $cart-dropdown-box-shadow;
    z-index: 1000;
}

.empty {
    text-align: center;
    font-size: $base-size;
    padding: $margin-padding/2;
    color: $color-secondary;
}

.cartItems {
    max-height: $cart-dropdown-items-max-height;
    overflow-y: auto;
}

.cartItem {
    position: relative;
    display: flex;
    align-items: center;
    padding: $cart-dropdown-item-padding;
    border-bottom: $cart-dropdown-item-border;
    width: 95%;
 
    .cartItemImage {
        width: $cart-dropdown-item-image-width;
        height: $cart-dropdown-item-image-height;
        border-radius: $radius;
        margin-right: $margin-padding/2;
    }
    &:hover .quantityBox,
        .quantityBox:hover {
            display: flex;
        }
}

.cartItem:hover{
    .deleteProdBtn{
        display: flex;
    }
    .deleteProdBtn:hover{
        background-color: $color-cart-dropdown-delete-prod-btn;
        transition: $transition-cart-dropdown;
        border-radius: $radius;
    }
}

.deleteProdBtn{
    display: none;
    color: $color-red;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 30%;
    left: 90%;
}

.cartItemDetails {
    flex-grow: 1;
}

.cartItemName {
    font-size: $base-size;
    font-weight: bold;
}

.cartItemPrice {
    font-size: $base-size - 2px;
    color: $color-secondary;
}

.cartButton {
    display: block;
    text-align: center;
    padding: $margin-padding/2;
    margin-top: $margin-padding/2;
    background: $main-btns-color;
    color: $color-text-bright;
    border-radius: $radius;
    text-decoration: none;
}

.cartButton:hover {
    background: $color-secondary;
    transition: $transition-cart-dropdown-button;
}

.totalPrice {
    text-align: center;
    margin-block: $margin-padding;
    font-weight: bold;
    color: $color-text-bright;

    span {
        color: $color-text-bright;
    }
}

.quantityBox{
    display: none;
    position: absolute;
    width: $cart-dropdown-item-image-width;
    height: $cart-dropdown-item-image-height;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: $color-cart-dropdown-quantity-box;
    color: $color-text-bright;
    padding: $cart-dropdown-quantity-box-padding;
    border-radius: $radius;
    align-items: center;
    gap: $gap/2;
    justify-content: center;
    z-index: 10;
}
.quantityBox button {
    background: transparent;
    border: none;
    color: $color-text-bright;
    font-size: $base-size;
    cursor: pointer;
    padding: $cart-dropdown-quantity-box-btn-padding;
    border-radius: $cart-dropdown-quantity-box-btn-radius;
    transition: $transition-cart-dropdown;

    &:hover {
        background: $color-cart-dropdown-quantity-box-btn-hover;
    }
}

@media (max-width: 1025px) {
    .cartDropdown {
        position: relative;
        top: 125px;
    }
}
@media (max-width: 600px) {
    .cartDropdown {
        position: absolute;
        top: 9vh;
    }
}