@import '../../../styles/settings.scss';

.ordersContainer{
    color: white;
    margin: 10vh auto;
    text-align: center;
    background: #2c2c2c;
    padding: $margin-padding*1.5;
    border-radius: $radius*2;
    color: white;
    position: relative;
    .orderListItem{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: gray;
        padding: $margin-padding/2;
        margin: $margin-padding/2;
        border-radius: $radius;
        color: white;
        font-weight: bolder;
    }
    .orderText{
        flex-grow: 1;
        text-align: center;
    }
    h1{
        margin: $margin-padding;
    }
    ul{
        list-style: none;
    }
    .buttonMore{
        text-align: center;
        margin-top: $margin-padding*1.5;
        padding: $margin-padding/2;
        background: lime;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        transition: $transition-cart-dropdown;
        border: none;
        margin-right: auto;
    }
    .buttonMore:hover {
        background: rgb(42, 42, 42);
    }
    .buttonRemove{
        text-align: center;
        margin-top: $margin-padding*1.5;
        padding: $margin-padding/2;
        background: red;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        transition: $transition-cart-dropdown;
        border: none;
        margin-left: auto;
    }
    .buttonRemove:hover {
        background: rgb(42, 42, 42);
    }
    .backButton{
        text-align: center;
        margin-top: $margin-padding*1.5;
        padding: $margin-padding/2;
        background: gray;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        transition: $transition-cart-dropdown;
        border: none;
        margin-right: auto;
        position: absolute;
        left: 1%;
        top: -0.5%;
    }
}