@import '../../../styles/settings.scss';

.dashboardContainer {
    max-width: 800px;
    margin: $admin-products-dashboard-container-margin;
    text-align: center;
    background: $color-primary;
    padding: $margin-padding*1.5;
    border-radius: $radius*2;
    color: $color-text-bright;
    position: relative;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: $gap*2;
    justify-content: center;
}

.optionCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $admin-products-dashboard-option-card-width;
    height: $admin-products-dashboard-option-card-height;
    background: $main-btns-color;
    color: $color-text-bright;
    font-size: $base-size + 4px;
    font-weight: bold;
    text-decoration: none;
    border-radius: $admin-products-dashboard-option-card-radius;
    transition: $transition-cart-dropdown;
}

.optionCard:hover {
    background: $color-secondary;
}