@import '../../../styles/settings.scss';

.cancelOrderContainer{
    color: $color-text-bright;
    .formOrder{
        margin-top: $cancel-order-form-margin;
    }
    .button{
        display: block;
        text-align: center;
        margin-block: $cancel-order-form-btn-margin;
        padding: $margin-padding/2;
        background: $main-btns-color;
        color: $color-text-bright;
        font-size: $base-size + 6px;
        border-radius: $radius;
        text-decoration: none;
        font-weight: bold;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        transition: $transition-cart-dropdown;
        border: none;
    }
    .button:hover {
        background: $color-secondary;
    }
    .confirmationBox{
        margin-block: $confirmation-box-margin-block;
        margin-inline: $confirmation-box-margin-inline;
    }
    .itemsList{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        max-width: 100%;
        gap: $canel-order-item-list-gap;
        justify-content: center;
    }
    .itemImage{
        width: $cancel-order-item-image-width;
        height: $cancel-order-item-image-height;
        border-radius: $radius*4;
    }
    .buttonContainer{
        display: flex;
        flex-direction: row;
        gap: $gap;
        justify-content: center;
    }
    .bolder{
        font-weight: bolder;
    }
    .itemDetails{
        margin-top: $cancel-order-item-details;
        .prodName{
            font-size: $base-size + 6px;
            font-weight: bolder;
        }
        p{
            font-size: $base-size + 1px;
            margin: 0;
        }
    }
    .totalPrice{
        margin-top: $margin-padding * 2;
    }
}

@media (max-width: 1025px) {
    .cancelOrderContainer {
        .formOrder{
            margin-top: $margin-padding;
            position: relative;
        }
        .button{
            font-size: $base-size*2;
        }
        .confirmationBox{
            margin-inline: 0;
            margin-block: 0;
        }
    }
}

@media (max-width: 600px) {
    .cancelOrderContainer {
        h1{
            font-size: $base-size + 4px;
        }
        h2{
            font-size: $base-size + 3px;
        }
        h3{
            font-size: $base-size + 2px;
        }
        h4{
            font-size: $base-size - 2px;
        }
        .formOrder{
            margin: $margin-padding;
            position: relative;
        }
        .formOrder label{
            font-size: $base-size + 6px;
        }
        .button{
            font-size: $base-size + 4px;
        }
        .confirmationBox{
            margin-inline: 0;
            margin-block: 0;
        }
    }
}