@import '../../../styles/settings.scss';

.allPage{
    color: $color-text-bright;
}
.prodSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-primary;
    padding: $product-page-prod-section-padding;
    margin-top: $margin-padding;
    border-radius: $radius * 3;
    .prodImage{
        border-radius: $product-page-image-radius;
    }
}
.rightSide{
    margin-top: $product-page-prod-section-padding;
    display: flex;
    flex-direction: column;
}
.big{
    font-weight: bolder;
    font-size: $base-size * 1.5;
}
.bigH1{
    font-weight: bolder;
    font-size: $base-size * 3;
}

.variants {
    margin-top: $margin-padding;
    display: flex;
    flex-direction: row;
    
    .variantList {
        display: flex;
        gap: $gap;
        margin-left: $product-page-variants-list-margin;
        flex-wrap: wrap
    }

    .variantButton {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: $transition-variant-btn;

        &:hover {
            transform: scale(1.1);
        }
    }

    .variantImage {
        width: $variant-img-width;
        height: $variant-img-height;
        object-fit: cover;
        border: 2px solid transparent;
        border-radius: $radius;
        transition: $transition-variant-img;
    }

    .selected .variantImage {
        border: 3px solid $color-text-bright;
    }
}

.button {
    margin-top: $margin-padding * 3;
}

.toastDark {
    background-color: $color-toast-dark !important;
    color: $color-text-bright;
}

@media (max-width: 1025px) {
   .allPage{
    .prodSection{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $color-primary;
        padding: $product-page-prod-section-padding;
        margin-top: $margin-padding;
        border-radius: $radius * 3;
        position: relative;
        .prodImage{
            width: $product-page-image-rwd-width;
            height: $product-page-image-rwd-height;
            border-radius: $product-page-image-radius;
        }
    }
    .rightSide{
        position: relative;
        margin-left: $product-page-right-side-rwd-margin;
        margin-top: $product-page-prod-section-padding;
        display: flex;
        flex-direction: column;
        p{
            font-size: $base-size*2;
        }
    }
    .big{
        font-size: $base-size*2;
    }
    .variantImage {
        width: $variant-img-width*1.5;
        height: $variant-img-height*1.5;
    }
   }
}