@import '../../../styles/settings.scss';

.getYour{
    margin-top: $get-your-text-margin;   
    color: $color-text-bright;
    font-weight: bold;
    .firstHalf{
        text-shadow: 
        0 0 5px #ffffffcc, 
        0 0 10px #ffffff99, 
        0 0 20px #ff000099,
        0 0 30px #ff0000cc,
        0 0 40px #ff0000e6,
        0 0 50px #ff0000;   
    }
    .now{
        color: $color-red;
        font-size: $now-text-font-size;
        position: absolute;
        margin-left: $now-text-margin;
    }
}

@media (max-width: 1025px) {
    .getYour{
        font-size: $base-size *2;
        margin-left: 2vh;
        .now{
            font-size: $now-text-font-size /2;
        }
    }
}