@import '../../../styles/settings.scss';
.getYour{
    margin-top: 20vh;   
    color: white;
    font-weight: bold;
    .firstHalf{
        text-shadow: 
        0 0 5px rgba(255, 255, 255, 0.8), 
        0 0 10px rgba(255, 255, 255, 0.6), 
        0 0 20px rgba(255, 0, 0, 0.6),
        0 0 30px rgba(255, 0, 0, 0.8),
        0 0 40px rgba(255, 0, 0, 0.9),
        0 0 50px rgba(255, 0, 0, 1);   
    }
    .now{
        color: red;
        font-size: 10vh;
        position: absolute;
        margin-left: 2vh;
    }
}