@import '../../../styles/settings.scss';

.variantsContainer {
    color: $color-text-bright;
    text-align: center;
    padding: $margin-padding;
    background: $color-primary;
    border-radius: $radius*2;
    max-width: 600px;
    margin: auto;
    position: relative;
}

h1 {
    margin-bottom: $margin-padding;
}

.variantsList {
    list-style: none;
    padding: 0;
}

.variantItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-secondary;
    padding: $margin-padding/2;
    margin: $admin-remove-variant-item-margin;
    border-radius: $radius;
    font-weight: bold;
}

.buttonRemove {
    background: $color-red;
    color: $color-text-bright;
    border: none;
    padding: $admin-remove-variant-btn-padding;
    border-radius: $radius;
    cursor: pointer;
    font-weight: bold;
}

.buttonRemove:hover {
    background: $admin-remove-btn-hover;
}

@media (max-width: 1025px) {
    .variantsList {
        margin-top: $margin-padding*3;
    }
    .variantItem {
        font-size: $base-size*2;
    }
}