@import '../../../styles/settings.scss';

.allPage{
    color: $color-text-bright;
    .finishOrderBox{
        display: flex;
        flex-direction: row;
    }
    .orderDisplayWithTotalPrice{
        width: 50%;
    }
    .orderDisplay{
        max-height: 400px;
        overflow: scroll;
    }
    .cartItemImage{
        width: $cart-item-image-width;
        height: $cart-item-image-height;
    }
    .cartItem{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid $color-text-bright;
    }
    .leftSide{
        padding-top: $payment-page-left-side-padding;
    }
    .cartItemDetails{
        position: relative;
        z-index: 2;
        margin-top: $margin-padding;
        margin-left: $margin-padding*4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .formOrder{
        z-index: 10;
    }
    .goBackToCart{
            display: block;
            text-align: center;
            margin-top: $margin-padding*1.5;
            padding: $margin-padding/2;
            background: $main-btns-color;
            color: $color-text-bright;
            border-radius: $radius;
            text-decoration: none;
            font-size: $base-size - 4px;
            font-weight: bold;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            transition: $transition-cart-dropdown;
            position: absolute;
            bottom: 80px;
            right: 90%;
        }
        
    .goBackToCart:hover {
        background: $navbar-btn-hover;
    }
    .isNotRequired{
        color: $color-secondary;
        font-size: $base-size - 4px;
        margin: 0;
    }
}

@media (max-width: 600px) {
    .allPage{
        .finishOrderBox{
            display: flex;
            flex-direction: column;
        }
        .orderDisplayWithTotalPrice{
            width: 100%;
        }
        .goBackToCart{
            top: $payment-page-go-back-to-cart-btn-top-rwd;
            bottom: auto;
            position: absolute;
            left: $payment-page-go-back-to-cart-btn-left-rwd;
        }
    }
}

