@import '../../../styles/settings.scss';

.clientsContainer{
    color: $color-text-bright;
    margin: $admin-clients-page-container-margin;
    text-align: center;
    background: $color-primary;
    padding: $margin-padding*1.5;
    border-radius: $radius*2;
    color: $color-text-bright;
    position: relative;
    .clientListItem{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: $color-secondary;
        padding: $margin-padding/2;
        margin: $margin-padding/2;
        border-radius: $radius;
        color: $color-text-bright;
        font-weight: bolder;
    }
    .clientText{
        text-align: center;
    }
    h1{
        margin: $margin-padding;
    }
    ul{
        list-style: none;
    }
    .buttonMore{
        text-align: center;
        margin-top: $margin-padding*1.5;
        padding: $margin-padding/2;
        background: $color-admin-orders-btn-more;
        color: $color-text-bright;
        border-radius: $radius;
        text-decoration: none;
        font-size: $base-size + 6px;
        font-weight: bold;
        width: fit-content;
        transition: $transition-cart-dropdown;
        border: none;
    }
    .buttonMore:hover {
        background: $color-admin-orders-btn-more-hover;
    }
}

@media (max-width: 1025px) {
    .clientsContainer{
        .clientText{
            font-size: $base-size*1.5;
            margin-left: $margin-padding;
        }
        .buttonMore{
            font-size: $base-size * 1.5;
        }
    }
}

@media (max-width: 600px) {
    .clientsContainer{
        .clientText{
            font-size: $base-size - 4px;
            margin-left: $margin-padding/4;
        }
        .buttonMore{
            font-size: $base-size* 0.8;
            padding: $margin-padding/4;
        }
    }
}