@import '../../../styles/settings.scss';

.allPage{
    color: $color-text-bright;
    background-color: $color-primary;   
    padding: $margin-padding;
    position: relative;
    .bold{
        font-weight: bolder;
    }
    .itemImage{
        width: $admin-single-order-page-item-image-width;
        height: $admin-single-order-page-item-image-height;
    }
    .orderItems{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .orderItem{
        margin: $admin-single-order-page-order-item-margin;
        p{
            margin: 0;
        }
    }
}