@import '../../../styles/settings.scss';

.productsContainer {
    color: $color-text-bright;
    text-align: center;
    padding: $margin-padding;
    background: $color-primary;
    border-radius: $radius*2;
    max-width: 800px;
    margin: auto;
    position: relative;
}

h1 {
    margin-bottom: $margin-padding;
}

.productList {
    list-style: none;
    padding: $margin-padding/2;
}

.productItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-secondary;
    padding: $margin-padding/2;
    margin: $admin-remove-product-item-margin;
    border-radius: $radius;
    font-weight: bold;
}

.buttonRemove {
    background: $color-red;
    color: $color-text-bright;
    border: none;
    padding: $admin-remove-product-btn-padding;
    border-radius: $radius;
    cursor: pointer;
    font-weight: bold;
}

.buttonRemove:hover {
    background: $admin-remove-btn-hover;
    transition: $transition-cart-dropdown;
}

.buttonDeleteVariant{
    border-radius: $radius;
    background-color: $admin-btn-hover;
}
.buttonDeleteVariant:hover{
    background-color: $navbar-btn-hover;
    transition: $transition-cart-dropdown;
}

@media (max-width: 1025px) {
    .productsContainer{
        max-width: 900px;
    }
    .productsContainer h1{
        font-size: $base-size*4;
    }
    .productList {
        margin-top: $margin-padding*2.5;
        max-width: 900px;
    }
    .productItem {
        font-size: $base-size*1.5;
    }
}

@media (max-width: 600px) {
    .productsContainer{
      padding: 0;
    }
    .productsContainer h1{
        font-size: $base-size * 1.5;
    }
    .productList {
        margin-top: $margin-padding*2.5;
    }
    .productItem {
        font-size: $base-size*0.7;
    }
}