@import '../../../styles/settings.scss';

.navbar {
    background-color: $color-primary;
    color: $color-text-bright;
    border-radius: $radius*2;
    margin: $navbar-margin;
    max-height: $navbar-maxheight;
    .logo{
        color: $color-text-bright;
        font-size: $base-size * 2;
        img{
            max-width: $navbar-logo-maxwidth;
            max-height: $navbar-logo-maxheight;
        }
    }
    .nav {
        margin-right: $margin-padding/2;
        
    }
    .nav a.link{
        color: $color-text-bright;
        text-decoration: none;
        border: solid 1px $color-text-bright;
        border-radius: $radius*4;
        margin: $margin-padding/4;
    }
    .nav .link:hover{
        text-decoration: none;
        background-color: $navbar-btn-hover;
    }
    .cartButton{
        background-color: $color-primary;
        margin-left: $navbar-cart-btn-margin;
        padding: $margin-padding / 2;
        padding-inline: $margin-padding;
        border: none;
        border-radius: $radius *2;
    }
    .cartButton:hover{
        background-color: $navbar-btn-hover;
        transition: $transition;
    }
    .logOutButton{
        background-color: transparent;
        border: 1px solid $color-red;
        color: $color-red;
        border-radius: $radius*4;
        font-size: $base-size+2px;
        margin: $margin-padding/4;
    }
    .logOutButton:hover{
        background-color: $logout-hover;
        transition: $transition-navbar-links;
    }
}

@media (max-width: 1025px) {
    .navbar{
        .nav a.link{
            font-size: $base-size *2;
         }
         .cartButton{
             font-size: $base-size *2;
         }
         .logOutButton{
             font-size: $base-size+10px;
         }
    }
}

@media (max-width: 600px) {
    .navbar{
        .nav a.link{
            font-size: $base-size - 5px;
            margin: $margin-padding;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .logo img{
            max-width: $navbar-logo-maxwidth -30px;
            max-height: $navbar-logo-maxheight - 30px;
        }
        .cartButton{
            font-size: $base-size;
            margin: $margin-padding;
            text-align: center;
        }
        .logOutButton{
            font-size: $base-size - 5px;
            margin: $margin-padding;
        }
    }
}