@import '../../../styles/settings.scss';

.navbar {
    background-color: gray;
    color: white;
    border-radius: 10px;
    margin: 30px 10px;
    max-height: 9vh;
    .logo{
        color: white;
        font-size: $base-size * 2;
        img{
            max-width: 80px;
            max-height: 80px;
        }
    }
    .nav {
        margin-right: 10px;
        
    }
    .nav a.link{
        text-decoration: none;
        border: solid 1px blue;
        border-radius: $radius*4;
        margin: 5px;
    }
    .nav .link:hover{
        text-decoration: none;
        background-color: lightblue;
    }
    .linkActive {
        color: white !important;
        transition: 0.5s;
    }
    .cartButton{
        background-color: gray;
        margin-left: 5vh;
        padding: $margin-padding / 2;
        padding-inline: $margin-padding;
        border: none;
        border-radius: $radius *2;
    }
    .cartButton:hover{
        background-color: rgba(0, 0, 0, 0.401);
        transition: $transition;
    }
    .logOutButton{
        background-color: transparent;
        border: 1px solid red;
        color: red;
        border-radius: $radius*4;
        font-size: $base-size;
        padding-block: 0px;
    }
    .logOutButton:hover{
        background-color: rgb(240, 101, 101);
        transition: $transition-navbar-links;
    }
}